<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | todo</title>
</head>
<body>

  <h1>Login</h1>
  {% if error %}
    <p>error</p>
  {% endif %}
  <form action="/login" method="post">
    <label for="username">
      Username
      <input type="text" name="username" id="username">
    </label>
    <label for="password">
      Password
      <input type="password" name="password" id="password">
    </label>

    <button type="submit">Login</button>

  </form>
  <p>New here? <a href="/join" >Create an account</a></p>
  
</body>
</html>
